//! **************************************************************************
// Written by: Map P.20131013 on Thu Mar 03 11:59:26 2016
//! **************************************************************************

SCHEMATIC START;
COMP "HS" LOCATE = SITE "J14" LEVEL 1;
COMP "VS" LOCATE = SITE "K13" LEVEL 1;
COMP "ca" LOCATE = SITE "L14" LEVEL 1;
COMP "cb" LOCATE = SITE "H12" LEVEL 1;
COMP "cc" LOCATE = SITE "N14" LEVEL 1;
COMP "cd" LOCATE = SITE "N11" LEVEL 1;
COMP "ce" LOCATE = SITE "P12" LEVEL 1;
COMP "cf" LOCATE = SITE "L13" LEVEL 1;
COMP "cg" LOCATE = SITE "M12" LEVEL 1;
COMP "dp" LOCATE = SITE "N13" LEVEL 1;
COMP "an0" LOCATE = SITE "F12" LEVEL 1;
COMP "an1" LOCATE = SITE "J12" LEVEL 1;
COMP "an2" LOCATE = SITE "M13" LEVEL 1;
COMP "an3" LOCATE = SITE "K14" LEVEL 1;
COMP "gsr" LOCATE = SITE "A7" LEVEL 1;
COMP "Blu1" LOCATE = SITE "H13" LEVEL 1;
COMP "Blu2" LOCATE = SITE "J13" LEVEL 1;
COMP "Grn0" LOCATE = SITE "F14" LEVEL 1;
COMP "Grn1" LOCATE = SITE "G13" LEVEL 1;
COMP "Grn2" LOCATE = SITE "G14" LEVEL 1;
COMP "Red0" LOCATE = SITE "C14" LEVEL 1;
COMP "Red1" LOCATE = SITE "D13" LEVEL 1;
COMP "Red2" LOCATE = SITE "F13" LEVEL 1;
COMP "XLXN_670" LOCATE = SITE "M5" LEVEL 1;
COMP "XLXN_672" LOCATE = SITE "M11" LEVEL 1;
COMP "XLXN_674" LOCATE = SITE "P7" LEVEL 1;
COMP "XLXN_688" LOCATE = SITE "P6" LEVEL 1;
COMP "betterclk" LOCATE = SITE "M6" LEVEL 1;
COMP "clkin" LOCATE = SITE "B8" LEVEL 1;
COMP "switch7" LOCATE = SITE "N3" LEVEL 1;
COMP "peebs0" LOCATE = SITE "G12" LEVEL 1;
COMP "peebs1" LOCATE = SITE "C11" LEVEL 1;
COMP "peebs2" LOCATE = SITE "M4" LEVEL 1;
NET "XLXN_71" BEL "XLXI_35.GCLKMUX" USELOCALCONNECT;
NET "XLXN_243" BEL "XLXI_142.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

